{% extends "shop/base.html" %}

{% block title %}GEO News{% endblock %}

{% block content %}
    <h1>GEO News</h1>
        {% for post in posts %}
            <h2>
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                </a>
            </h2>
            {{ post.body|truncatewords:50|linebreaks }}
            <p class="date">
                Opublikowano {{ post.published_date }} przez {{ post.author }}
            </p>
        {% endfor %}
    {% include "pagination.html" with page=page_obj %}
{% endblock %}