{% extends "main/base.html" %}

{% block title %}
    GEO
{% endblock %}

{% block content %}
    <h1 class="site-title">O NAS</h1>
    <p class="about-us-welcome">

    </p>
    <div class="announcement">
        {% for post in announcement %}
            {{ post.body|truncatewords:100|linebreaks }}
            {{ post.published_date }} <br>
            <a class="read-more" href="{{ post.get_absolute_url }}">Czytaj więcej </a>
        {% endfor %}
    </div>
    <div>
        <p class="about-us-description">Opis firmy Opis firmy Opis firmy Opis firmy</p>
    </div>

{% endblock %}