{% extends "main/base.html" %}
{% load static %}

{% block title %} GEO {{ post.title }} {% endblock %}

{% block content %}
    <h1 class="site-title">AKTUALNOŚCI</h1>
    <img src="{% if post.image %}{{ post.image.url }}{% else %}{% static "image/no_image.png" %}{% endif %}" class="news-image-detail">
    <h1 class="news-title-detail">{{ post.title }}</h1>
    <p class="date-detail">
        Opublikowany {{ post.published_date }} przez {{ post.author }}
    </p>
    <h5 class="news-text-detail">
        {{ post.body|linebreaks }}
    </h5>
    <div class="comments-line"></div>
    {% with comments.count as total_comments %}
        <h2 class="comments_count">
            {{ total_comments }} komentarz{{ total_comments|pluralize:"y" }}
        </h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Komentarz {{ forloop.counter }} dodany przez {{ comment.author }}
                {{ comment.published_date }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>Nie ma jeszcze komentarzy</p>
    {% endfor %}
    {% if new_comment %}
        <h2>Komentarz dodany.</h2>
    {% else %}
        <h2 class="add-new-comment">Dodaj nowy komentarz</h2>
        <form method="post" action="{{ post.get_absolute.url }}">
            {{ comment_form.as_p }}
            {%  csrf_token %}
            <p><input type="submit" value="Dodaj komentarz"></p>
        </form>
    {% endif %}
{% endblock %}
